server:
  port: 8094

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

  health:
    probes:
      enabled: true

spring:
  config:
    import: "optional:configtree:/mnt/secrets/ia/"
  application:
    name: Home Office Integration API
  main:
    allow-bean-definition-overriding: true
  jackson.date-format: yyyy-MM-dd
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${OPEN_ID_IDAM_URL:http://127.0.0.1:5000}/o
        registration:
          oidc:
            client-id: ${IA_IDAM_CLIENT_ID:ia}
            client-secret: ${IA_IDAM_SECRET:something}
      resourceserver:
        jwt:
          jwk-set-uri: ${OPEN_ID_IDAM_URL:http://127.0.0.1:5000}/o/jwks
  cache:
    cache-names: userInfoCache, accessTokenCache
    caffeine:
      spec: expireAfterAccess=3600s

security:
  anonymousPaths:
    - "/serviceusertoken"
    - "/s2stoken"
    - "/"
    - "/health"
    - "/health/liveness"
    - "/health/readiness"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/favicon.ico"
  authorisedRoles:
    - "caseworker-ia"
    - "citizen"
  roleEventAccess:
    citizen:
      - "submitAppeal"
      - "applyForFTPAAppellant"
    caseworker-ia-legalrep-solicitor:
      - "submitAppeal"
      - "payAndSubmitAppeal"
      - "applyForFTPAAppellant"
    tribunal-caseworker:
      - "requestHomeOfficeData"
      - "requestRespondentEvidence"
      - "requestRespondentReview"
      - "editCaseListing"
      - "asyncStitchingComplete"
      - "adjournHearingWithoutDate"
      - "sendDecisionAndReasons"
      - "endAppeal"
      - "sendDirection"
      - "requestResponseAmend"
      - "changeDirectionDueDate"
      - "markAppealPaid"
    challenged-access-legal-operations:
      - "requestHomeOfficeData"
      - "requestRespondentEvidence"
      - "requestRespondentReview"
      - "editCaseListing"
      - "asyncStitchingComplete"
      - "adjournHearingWithoutDate"
      - "sendDecisionAndReasons"
      - "endAppeal"
      - "sendDirection"
      - "requestResponseAmend"
      - "changeDirectionDueDate"
      - "markAppealPaid"
    senior-tribunal-caseworker:
      - "requestHomeOfficeData"
      - "requestRespondentEvidence"
      - "requestRespondentReview"
      - "editCaseListing"
      - "asyncStitchingComplete"
      - "adjournHearingWithoutDate"
      - "sendDecisionAndReasons"
      - "endAppeal"
      - "sendDirection"
      - "requestResponseAmend"
      - "changeDirectionDueDate"
      - "markAppealPaid"
    hearing-centre-admin:
      - "markAppealPaid"
      - "submitAppeal"
      - "applyForFTPAAppellant"
      - "listCase"
      - "editCaseListing"
      - "adjournHearingWithoutDate"
      - "sendDecisionAndReasons"
      - "endAppeal"
    ctsc:
      - "markAppealPaid"
      - "submitAppeal"
      - "applyForFTPAAppellant"
      - "listCase"
      - "editCaseListing"
      - "adjournHearingWithoutDate"
      - "sendDecisionAndReasons"
      - "endAppeal"
    ctsc-team-leader:
      - "markAppealPaid"
      - "submitAppeal"
      - "applyForFTPAAppellant"
      - "listCase"
      - "editCaseListing"
      - "adjournHearingWithoutDate"
      - "sendDecisionAndReasons"
      - "endAppeal"
    national-business-centre:
      - "markAppealPaid"
      - "submitAppeal"
      - "applyForFTPAAppellant"
      - "listCase"
      - "editCaseListing"
      - "adjournHearingWithoutDate"
      - "sendDecisionAndReasons"
      - "endAppeal"
    challenged-access-ctsc:
      - "markAppealPaid"
      - "submitAppeal"
      - "applyForFTPAAppellant"
      - "listCase"
      - "editCaseListing"
      - "adjournHearingWithoutDate"
      - "sendDecisionAndReasons"
      - "endAppeal"
    challenged-access-admin:
      - "markAppealPaid"
      - "submitAppeal"
      - "applyForFTPAAppellant"
      - "listCase"
      - "editCaseListing"
      - "adjournHearingWithoutDate"
      - "sendDecisionAndReasons"
      - "endAppeal"
    caseworker-ia-homeofficeapc:
    caseworker-ia-homeofficelart:
    caseworker-ia-homeofficepou:
      - "applyForFTPARespondent"
    caseworker-ia-respondentofficer:
      - "applyForFTPARespondent"
    caseworker-ia-iacjudge:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    judge:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    senior-judge:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    leadership-judge:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    fee-paid-judge:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    lead-judge:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    hearing-judge:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    ftpa-judge:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    hearing-panel-judge:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    challenged-access-judiciary:
      - "sendDecisionAndReasons"
      - "leadershipJudgeFtpaDecision"
      - "residentJudgeFtpaDecision"
      - "decideFtpaApplication"
      - "endAppeal"
      - "changeDirectionDueDate"
    caseworker-ia-system:
      - "listCase"
      - "editCaseListing"

### dependency configuration
ccdGatewayUrl: ${CCD_GW_URL:http://localhost:3453}
core_case_data_api_url: ${CCD_URL:http://127.0.0.1:4452}

#OpenID
idam:
  baseUrl: ${OPEN_ID_IDAM_URL:http://127.0.0.1:5000}
  redirectUrl: ${IA_IDAM_REDIRECT_URI:http://localhost:3002/oauth2/callback}
  s2s-auth:
    totp_secret: ${IA_S2S_SECRET:AAAAAAAAAAAAAAAC}
    microservice: ${IA_S2S_MICROSERVICE:ia}
    url: ${S2S_URL:http://127.0.0.1:4502}
  s2s-authorised:
    iac-services:
      allowed-services: ${IAC_ALLOWED_SERVICES:ccd,ccd_data,ccd_gw,ccd_ps,iac,home-office-immigration}
      allowed-endpoints: ${IAC_ALLOWED_ENDPOINTS:/asylum/ccdAboutToStart,/asylum/ccdAboutToSubmit}
    home-office-immigration:
      allowed-services: ${HOME_OFFICE_ALLOWED_SERVICES:home-office-immigration}
      allowed-endpoints: ${HOME_OFFICE_ALLOWED_ENDPOINTS:/home-office-statutory-timeframe-status}
  ia_system_user:
    username: ${IA_SYSTEM_USERNAME:system-user}
    password: ${IA_SYSTEM_PASSWORD:system-password}
    scope: "openid profile authorities acr roles create-user manage-user search-user"

home-office:
  api:
    url: ${HOME_OFFICE_ENDPOINT:http://localhost:8098}
  params:
    codes:
      consumer:
        code: HMCTS
        description: HM Courts and Tribunal Service
      consumerReference:
        code: HMCTS_CHALLENGE_REF
        description: HMCTS challenge reference
  feign:
    retry:
      count: 2
      wait-in-millis: 1000

feign:
  client:
    config:
      default:
        loggerLevel: full
        connectTimeout: 5000
        readTimeout: 5000

launchDarkly:
  sdkKey: ${LAUNCH_DARKLY_SDK_KEY:sdk-key}
  connectionTimeout: 5000
  socketTimeout: 5000

role-assignment-service:
  url: ${ROLE_ASSIGNMENT_URL:http://localhost:8991}

auth.homeoffice.client.baseUrl: ${HOME_OFFICE_ENDPOINT:http://127.0.0.1:8098}
auth.homeoffice.token.path: /ichallenge/token
auth.homeoffice.client.id: ${IA_HOMEOFFICE_CLIENT_ID:}
auth.homeoffice.client.secret: ${IA_HOMEOFFICE_SECRET:}
